.label {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	font-size: 1.2rem;
	color: #333;
	font-weight: bold;
}

.input {
	outline: none;
	border-radius: 0.5rem;
	padding: 0.6rem 1rem;
	font-size: 1rem;
	transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.normalInput {
	border: 1px solid #888888;

	&:focus {
		border-color: #007bff;
		box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.15);
	}
}

.warningBackground {
	border: 1.5px solid #b42318;
	background-color: rgba(180, 35, 24, 0.05);

	&:focus {
		background-color: rgba(180, 35, 24, 0.1);
	}
}

.warningMessage {
	font-weight: normal;
	color: #b42318;
	font-size: 0.9rem;
}
