.advancedSettingsContainer {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	width: 500px;
	margin-bottom: 2rem;
}

.advancedSettingQuestion {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 6rem;

	.question {
		text-align: left;
		font-size: 1.25rem;
		flex: 1;
	}

	.checkbox {
		width: 20px;
		height: 20px;
		cursor: pointer;
	}
}

.advancedSettingsInputContainer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	margin-top: 0.5rem;

	.inputContainer {
		width: 400px;
	}

	.xButton {
		margin-top: 0.2rem;
		margin-left: 0.5rem;
		padding: 0.5rem 2rem;
		font-size: 1rem;
	}
}

.checkbox:hover {
	transform: scale(1.1);
	transition: transform 0.2s;
}

@media (min-width: 1201px) and (max-width: 1400px) {
	.advancedSettingsContainer {
		width: 465px;
	}

	.advancedSettingQuestion {
		.question {
			font-size: 1.17rem;
		}
	}
}

@media (min-width: 1025px) and (max-width: 1199px) {
	.advancedSettingsContainer {
		width: 400px;
	}

	.advancedSettingQuestion {
		.question {
			font-size: 0.9rem;
		}

		.checkbox {
			width: 15px;
			height: 15px;
		}
	}
}

@media (min-width: 579px) and (max-width: 697px) {
	.advancedSettingsContainer {
		width: 350px;
	}

	.advancedSettingQuestion {
		.question {
			font-size: 0.8rem;
		}

		.checkbox {
			width: 15px;
			height: 15px;
		}
	}
}

@media (min-width: 481px) and (max-width: 578px) {
	.addonContainer {
		.inputContainer {
			width: 150px;
		}

		input {
			width: 160px;
		}
	}
}

@media (max-width: 480px) {
	.advancedSettingsContainer {
		width: 250px;
		margin-top: 1.5rem;
		row-gap: 1.5rem;
	}

	.advancedSettingQuestion {
		.question {
			font-size: 0.8rem;
			font-weight: bold;
		}

		.checkbox {
			width: 15px;
			height: 15px;
		}
	}

	.advancedSettingsInputContainer {
		gap: 1rem;
		.inputContainer {
			width: 180px;
		}

		.xButton {
			padding: 0.5rem 1.25rem;
		}
	}

	.addonContainer {
		.inputContainer {
			width: 150px;
		}

		input {
			width: 120px;
		}
	}
}

@media (max-width: 350px) {
	.addonContainer {
		.inputContainer {
			width: 150px;
		}

		&:nth-child(2) {
			input {
				width: 100px;
			}

			label {
				font-size: 0.8rem;
			}
		}
	}
}
