@import '../../../colors.scss';
$bg-panel: #eeeeee;

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3rem 4rem;
	width: 70%;
	height: 100%;
	gap: 2.4rem;
}

// -------- CURRENT BLINDS --------
.blindsInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	padding: 1.6rem 3rem;
	background: white;
	border: 2px solid $border;
	border-radius: 20px;
	box-shadow: 0 4px 14px rgba(0, 0, 0, 0.12);

	p {
		margin: 0;
		font-size: 2.5rem;
		font-weight: 600;
		color: #444;

		span {
			font-weight: 800;
		}
	}

	.blinds {
		font-size: 5rem;
		font-weight: 700;

		color: #1e1e1e;
	}
}

.timerButtons {
	display: flex;
	justify-content: center;
	gap: 1.2rem;
}

.settingsButtons {
	display: flex;
	justify-content: center;
	gap: 1.6rem;
}
