.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 2rem;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
	z-index: 1000;
	gap: 1rem;

	.headerTitle,
	.icon {
		color: #eee;
	}

	.icon {
		font-size: 1.4rem;
	}
}

@media (max-width: 480px) {
	.header {
		.headerTitle {
			font-size: 1.4rem;
		}
	}
}

@media (max-width: 400px) {
	.header {
		.headerTitle {
			font-size: 1rem;
		}

		.icon {
			font-size: 1rem;
		}
	}
}
